nav.navbar.navbar-light.bg-light{
  border-width: 2px;
  border-style: solid;
}

div.container{
  margin-top: 50px;
}
div.col-9{
  border-width: 3px;
  border-style: solid;
  margin-bottom: 50px;
  background-color: rgb(180, 201, 245)
}

h4{
  text-align: center;
}

